<ion-view id="onboard-welcome" class="onboarding">
  <ion-content ng-controller="welcomeController" ng-init="createProfile()" scroll="false">
    <div id="logo-tagline">
        <img src='img/app/tokenly-icon_grey.svg' id="logo" />
        <h2> Token Pockets</h2>
        <p id="lead" translate>True digital ownership<br> using the power of Bitcoin &amp; Counterparty</p>
    </div>
    <div id="cta-buttons">
        <button class="button button-standard button-primary" id="get-started" href ui-sref="onboarding.tour" translate>Get started</button>
        <button class="button button-standard button-secondary button-clear" id="restore" translate href ui-sref="onboarding.import({'fromOnboarding':true})">Restore from backup</button>
    </div>
  </ion-content>
</ion-view>
