<ion-modal-view ng-controller="txStatusController">
  <div ng-if="type == 'broadcasted'" class="popup-txsent text-center">
    <i class="small-centered columns fi-check" ng-style="{'color':color, 'border-color':color}"></i>
    <div class="m20t size-16 text-gray">
      <span translate>Sent</span>
    </div>
    <div ng-show="tx.amountStr && !tx.isCounterparty && (!tx.customData || !tx.customData.isCounterparty)" class="m20t size-36 text-white">
      {{tx.amountStr}}
    </div>
    <div ng-if="tx.isCounterparty || (tx.customData && tx.customData.isCounterparty)" class=" size-36 text-white">
        <span ng-if="tx.customData && tx.customData.isCounterparty">
            {{ tokenBvam = index.bvamData[tx.customData.counterparty.token] || {};"" }}
            {{ delimitNumber(tx.customData.counterparty.quantityFloat) }} {{ tokenBvam.shortName || tx.customData.counterparty.token }}
            <span ng-if="tokenBvam.shortName != tx.customData.counterparty.token">
                <small>({{ tx.customData.counterparty.token }})</small>
            </span>            
        </span>
        <span ng-if="!(tx.customData && tx.customData.isCounterparty)">
            {{ tokenBvam = index.bvamData[tx.counterparty.token] || {};"" }}
            {{ delimitNumber(tx.counterparty.quantityFloat) }} {{ tokenBvam.shortName || tx.counterparty.token }}
            <div ng-if="tokenBvam.shortName != tx.counterparty.token">
                <small>({{ tx.counterparty.token }})</small>
            </div>            
        </span>
    </div>

    <div class="text-center m20t">
      <a class="button outline round light-gray tiny" ng-click="cancel()" translate>OKAY</a>
    </div>
  </div>


  <div ng-if="type == 'created'" class="popup-txsigned">
    <i class="small-centered columns fi-check" ng-style="{'color':color, 'border-color':color}"></i>
    <div class="text-center size-18 tu text-bold p20" ng-style="{'color':color}">
      <span translate>Payment Proposal Created</span>
    </div>
    <div class="text-center">
      <a class="button outline round light-gray tiny" ng-click="cancel()" translate>OKAY</a>
    </div>
  </div>



  <div ng-if="type == 'accepted'" class="popup-txsigned">
    <i class="small-centered columns fi-check" ng-style="{'color':color, 'border-color':color}"></i>
    <div class="text-center size-18 text-primary tu text-bold p20" ng-style="{'color':color}">
      <span translate>Payment Accepted</span>
    </div>
    <div class="text-center">
      <a class="button outline round light-gray tiny" ng-click="cancel()" translate>OKAY</a>
    </div>
  </div>

  <div ng-if="type=='rejected'" class="popup-txrejected">
    <i class="fi-x small-centered columns" ng-style="{'color':color, 'border-color':color}"></i>
    <div class="text-center size-18 tu text-bold p20" ng-style="{'color':color}">
      <span translate>Payment Rejected</span>
    </div>
    <div class="text-center">
      <a class="button outline light-gray round tiny" ng-click="cancel()" translate>OKAY</a>
    </div>
  </div>
</ion-modal-view>
