<div class="sidebar" ng-controller="sidebarController as sidebar">
  <ion-content>
    <header>
      <div class="logo--wrapper">
        <logo ng-if="!sidebar.isWindowsPhoneApp" alt="Tokenly" title="Tokenly Pockets"></logo>
      </div>
      <div class="header--content">
        <img class="logo" ng-if="sidebar.isWindowsPhoneApp" src="img/tokenly-logo.svg" alt="Tokenly" width="80" title="Tokenly Pockets">
        <div ng-include="'views/includes/version.html'"></div>
      </div>
    </header>
    <ul class="pr">
      <li ng-show="sidebar.wallets[0]"
        ng-repeat="item in sidebar.wallets track by $index" ng-class="{'selected': item.id == index.walletId}" class="nav-item"
        menu-toggle href ui-sref="walletHome" on-tap="sidebar.switchWallet(item.id, index.walletId)">
        <div class="avatar-wallet" ng-style="{'background-color':item.color}">
          <img class="wallet-svg" src="img/tokenly-wallet_icon.svg">
        </div>
        <div class="name-wallet" ng-class="{'m8t':item.n == 1}">{{item.name || item.id}}</div>
        <div class="size-12" ng-show="item.n > 1" translate>{{item.m}}-of-{{item.n}}</div>
      </li>
      <li menu-toggle href ui-sref="add">
          <i class="icon-arrow-right3 size-18 right m10t vm"></i>
          <img class="sidebar-svg" src="img/tokenly-add_wallet.svg">
          <div class="tu text-bold">
            <span class="size-12" translate>Add wallet</span>
          </div>
          <div translate>Create, join or import</div>
      </li>
      <li ng-show="!index.noFocusedWallet && !index.isWindowsPhoneApp && (index.glideraEnabled || index.coinbaseEnabled)" menu-toggle href ui-sref="buyandsell">
          <i class="icon-arrow-right3 size-18 right m10t vm"></i>
          <img class="sidebar-svg" src="img/tokenly-buy_sell.svg">
          <div class="tu text-bold m5t">
            <span class="size-12" translate>Buy and Sell</span>
          </div>
      </li>
      <li ng-show="!index.noFocusedWallet" menu-toggle href ui-sref="preferencesGlobal">
          <i class="icon-arrow-right3 size-18 right m10t vm"></i>
          <img class="sidebar-svg" src="img/tokenly-settings.svg">
          <div class="tu text-bold">
            <span class="size-12" translate>Settings</span>
          </div>
          <div translate>Global preferences</div>
      </li>
    </ul>
  </ion-content>
</div>
