<nav ng-controller="topbarController as topbar"
  class="tab-bar" ng-style="{'background-color': noColor ? '$brand-primary' : index.backgroundColor}">
  <section class="left-small">
    <a id="hamburger" class="p10" ng-show="!goBackToState && !closeToHome  && !index.noFocusedWallet && index.physicalScreenWidth < 768"
      on-tap="index.toggleLeftMenu()"><i class="fi-list size-24"></i>
    </a>
    <a ng-show="goBackToState" ng-click="$root.go(goBackToState); goBackToState = null"><i class="icon-arrow-left3 icon-back"></i>
      <span class="text-back" translate>Back</span>
    </a>

    <a ng-show="closeToHome" class="p10 "
      ng-click="topbar.goHome(); index.setCompactTxHistory(); closeToHome = null">
      <span class="text-close" translate>Close</span>
    </a>
  </section>

  <section class="right-small" ng-show="showPreferences && !index.noFocusedWallet">
    <a class="p10" ng-click="topbar.goPreferences(); index.setCompactTxHistory()">
      <i class="fi-widget size-24"></i>
    </a>
  </section>

  <section class="middle tab-bar-section">
    <div ng-show="!hideCloseWarning" style="margin-bottom: 0px; background: #900; font-weight: bold; font-size: 85%; padding: 12px; line-height: 110%">
        IMPORTANT: Token Pockets will be ceasing operation on January 1st, 2019.<br/>
        Please move all tokens and bitcoin to another Counterparty compatible wallet before then to ensure access to your funds.
        &nbsp;&nbsp;&nbsp;<a ng-click="hideCloseWarning = true" style="color: white;">
           &times; <span style="text-decoration: underline;" translate>Close</span>
        </a>
    </div>
    <h1 class="title ellipsis" style="margin-top: 8px; line-height: 100%;">
      {{(titleSection|translate) || (index.alias || index.walletName)}}
    </h1>
  </section>
</nav>
