<ion-view id="tab-send" ion-side-menus>
  <ng-include src="'views/includes/sidebar.html'"></ng-include> 
    <ion-side-menu-content>      
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>        
    <ion-nav-title>
        {{'Send Tokens' | translate}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>

    <div id="send-form">
        <div class="form-group">
            <label for="source_address">Source Pocket</label>
            <select id="source_address" name="source_address" class="form-control" ng-model="form_data.source_address" ng-change="loadAddressBalances(form_data.source_address)">
                <option value="{{ addr.address }}" ng-repeat="addr in addressList track by $index">{{ addr.label ||  'Pocket #' + ($index+1) + ' - ' + addr.address }}</option>
            </select>
            <small><strong>BTC:</strong> {{ numberWithCommas(btc_balance) }}</small>
        </div>
        <div class="form-group">
            <label for="send_token">Token</label>
            <select id="send_token" name="send_token" ng-model="form_data.send_token" class="form-control" ng-change="updateSendTokenBalance(form_data.send_token)">
                <option value="{{ balance.tokenName }}" ng-repeat="balance in source_balances track by $index">{{ bvamData[balance.tokenName].selectName || balance.tokenName }}</option>
            </select>
            <small><strong>Balance:</strong> {{ numberWithCommas(token_balance) }} <a ng-if="token_balance > 0" ng-click="form_data.send_amount = token_balance">Send Max</a></small>
        </div>
        <div class="form-group">
            <label for="to_address" name="to_address">To</label>
            <input type="text" id="to_address" name="to_address" class="form-control" ng-model="form_data.to_address" placeholder="Bitcoin address" ng-change="validateAddress(form_data.to_address)" />
            <small class="text-danger" id="to_address-error">{{ errors.to_address }}</small>
        </div>
        <div class="form-group">
            <label for="send_amount">Amount</label>
            <input type="number" id="send_amount"  name="send_amount" class="form-control" ng-model="form_data.send_amount" ng-change="validateAmount(form_data.send_amount)" placeholder="Enter an amount to send" />
            <small class="text-danger" id="send_amount-error">{{ errors.send_amount }}</small>
        </div>
        <div class="form-group">
            <label for="memo">Memo</label>
            <textarea id="memo" name="memo" class="form-control" maxlength="250" style="height: 70px;" ng-model="form_data.memo"></textarea>
            <small>For your personal reference only. Max 250 characters</small>
        </div>
        <div ng-show="advancedTransactions">
            <div class="form-group" ng-show="form_data.send_token != 'BTC'">
                <label for="btc_dust">[Advanced] BTC Dust</label>
                <input type="number" id="btc_dust"  name="btc_dust" class="form-control" ng-model="form_data.btc_dust" ng-change="validateBTCDust(form_data.btc_dust)" />
                <small class="text-danger" id="btc_dust-error">{{ errors.btc_dust }}</small>
            </div>
            <div class="form-group">
                <label for="fee_rate">[Advanced] Fee Rate (satoshi/byte)</label>
                <input type="number" id="fee_rate"  name="fee_rate" class="form-control" ng-model="form_data.fee_rate" ng-change="validateFeeRate(form_data.fee_rate)" placeholder="Leave blank for default" />
                <small class="text-danger" id="fee_rate-error">{{ errors.fee_rate }}</small>
            </div> 
        </div>
        <div class="form-group">
            <p class="text-danger" id="general-error">{{ errors.general }}</p>
            <button class="btn btn-lg" id="resetForm" ng-click="resetForm()">Reset</button>
            <button class="btn btn-lg" id="send" ng-click="initSend()">Send</button>
        </div>
    </div>
    <div class="wallet-selector" ng-click="showWalletSelector()" ng-if="wallets[0] && wallet">
      <a ng-if="wallet" class="item item-sub item-icon-left item-big-icon-left item-icon-right">
        <i class="icon big-icon-svg">
          <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"/>
        </i>
        <span>
          {{wallet.name || wallet.id}}
        </span>
        <p>
        <span ng-if="!wallet.balanceHidden"> {{wallet.status.totalBalanceStr}} </span>

        <span ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
        <span class="tab-home__wallet__multisig-number" ng-if="wallet.n > 1">
          {{wallet.m}}-of-{{wallet.n}}
        </span>
        <span class="assertive" ng-if="wallet.error">{{wallet.error}}</span>
        &nbsp;
        </p>
        <i ng-if="!singleWallet" class="icon bp-arrow-right"></i>
      </a>
    </div>          
    <!--
    <hr>
    <div ng-if="hasFunds">
      <div class="send-header-wrapper">
        <div class="item item-heading send-heading"><span translate>Recipient</span></div>
        <div class="item input search-wrapper" ng-class="{'focus': searchFocus}">
          <i class="icon icon-svg abs-v-center"><img class="svg" src="img/icon-bitcoin-symbol.svg"></i>
          <div class="item-icon-right">
            <input type="text" class="search-input" placeholder="{{'Search or enter bitcoin address' | translate}}" ng-model="formData.search" ng-change="findContact(formData.search)" ng-model-onblur ng-focus="searchInFocus()" ng-blur="searchBlurred()">
            <i class="icon icon-svg qr abs-v-center separator-left" on-tap="openScanner()"><img src="img/scan-ico.svg"></i>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!checkingBalance && (!hasFunds || !hasWallets)">
      <div class="list card sendTip">
        <div class="item item-icon-right item-heading"></div>
        <div>
          <i class="icon zero-state-icon">
            <img src="img/tab-icons/ico-send-selected.svg"/>
          </i>
        </div>
        <div class="title" translate>
          Start sending bitcoin
        </div>
        <div class="subtitle">
          <span ng-show="hasWallets" translate>To get started, buy bitcoin or share your address. You can receive bitcoin from any wallet or service.</span>
          <span ng-show="!hasWallets" translate>To get started, you'll need to create a bitcoin wallet and get some bitcoin.</span>
          <div class="padding">
            <button class="button button-standard button-primary" ng-click="buyBitcoin()" ng-show="hasWallets" translate>Buy Bitcoin</button>
            <button class="button button-standard button-primary" ng-click="createWallet()" ng-show="!hasWallets" translate>Create bitcoin wallet</button>
            <button class="button button-standard button-secondary" ui-sref="tabs.receive" ng-show="hasWallets" translate>Show bitcoin address</button>
          </div>
        </div>
      </div>
    </div>
    -->
    <!--
    <div class="card" ng-if="hasContacts">
      <div class="item item-icon-right item-heading">
        <span translate>Contacts</span>
        <a ng-if="hasContacts" ui-sref="tabs.send.addressbook">
          <i class="icon ion-ios-plus-empty list-add-button"></i>
        </a>
      </div>
      <div class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="item in list" ng-if="!item.isWallet && item.recipientType != 'wallet'" ng-click="goToAmount(item)">
          <i class="icon big-icon-svg">
            <img src="img/contact-placeholder.svg" class="bg" ng-if="isChromeApp">
            <gravatar class="send-gravatar" name="{{item.name}}" width="30" email="{{item.email}}" ng-if="!isChromeApp"></gravatar>
          </i>
          {{item.name}}
          <i class="icon bp-arrow-right"></i>
        </a>
        <div class="show-more" ng-if="contactsShowMore" ng-click="showMore()" translate>
          Show more
        </div>
      </div>
    </div>
    -->
    <!--
    <div class="card" ng-if="showTransferCard && hasFunds">
      <div class="item item-heading">
        <span translate>Transfer to Wallet</span>
      </div>
      <div class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="item in list" ng-if="hasWallets && item.recipientType == 'wallet'" ng-click="goToAmount(item)">
          <i class="icon big-icon-svg" ng-if="item.recipientType == 'wallet'">
            <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !item.color}" ng-style="{'background-color': item.color}" class="bg"/>
          </i>
          {{item.name}}
          <i class="icon bp-arrow-right"></i>
        </a>
      </div>
    </div>
    -->
  </ion-content>
</ion-side-menu-content>   
<wallet-selector
wallet-selector-title="walletSelectorTitle"
wallet-selector-wallets="wallets"
wallet-selector-selected-wallet="wallet"
wallet-selector-show="showWallets"
wallet-selector-on-select="onWalletSelect">
</wallet-selector>      
</ion-view>
