<ion-view id="tab-inventory" ion-side-menus>
  <ng-include src="'views/includes/sidebar.html'"></ng-include>
  <ion-side-menu-content>  
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>        
    <ion-nav-title>
        {{'Token Inventory' | translate}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content scroll="true">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <h2>Token Inventory</h2>
                    <div class="pull-right text-right inventory-actions">                  
                        <button class="btn btn-lg btn-success" ng-click="newAddress()">+ New Pocket</button>
                        <button class="btn btn-lg btn-success" style="">+ Create Token</button>
                        <input type="text" ng-model="inventory_search.tokenName" placeholder="Search tokens...">
                    </div>                    
                    <p>
                        Below you can find a list of all tokens owned by bitcoin addresses in the currently selected wallet.
                    </p>
                    <p>
                        <a href="http://tokenly.com/" target="_blank">Visit Tokenly.com</a> to learn more about tokens.
                    </p>
                    <p>
                      <a ng-click="refreshBalances()" title="Refresh balances" id="refresh-inventory" style="cursor: pointer;"><i class="icon ico-sync" id="refresh-inventory-icon"></i> Refresh</a>
                      
                    </p>                    
                    <div class="item token-pocket" ng-repeat="addr in address_list track by $index">
                        <div class="pocket-fuel pull-right text-right">
                            <strong>Bitcoin (BTC):</strong> 
                                <span ng-if="BTCBalances[addr.address] != undefined">{{ numberWithCommas(BTCBalances[addr.address] / 100000000) }}</span>
                                <span ng-if="BTCBalances[addr.address] == undefined">loading...</span>
                            <div ng-repeat="xcp in inventoryBalances[addr.address]" ng-if="xcp.tokenName == 'XCP'">
                                <strong>XCP:</strong> {{ numberWithCommas(xcp.quantityFloat) }}
                            </div>
                        </div>
                        <div class="pocket-title">
                            <input type="text" ng-change="saveAddressLabels()" ng-model="addressLabels[addr.address]" placeholder="{{ 'Pocket #' + ($index+1) }}" />
                            <strong>Address:</strong> <span copy-to-clipboard="addr.address">{{addr.address}}</span>
                            <a href="https://xchain.io/address/{{addr.address}}" title="View on block explorer" target="_blank"><i class="icon ico-view"></i></a>
                            <br>
                            <span class="token-count">{{ numberWithCommas(inventoryBalances[addr.address].length) }} unique tokens</span>
                        </div>
                        <p ng-if="inventoryBalances[addr.address].length == 0">
                            No tokens found.
                        </p>
                        <ul class="pocket-tokens non-divisibles">
                            <li ng-repeat="token in inventoryBalances[addr.address] | filter: inventory_search " ng-if="!token.divisible">
                                <a ng-click="openTokenDetails(addr, token, bvamData[token.tokenName])"></a>
                                <div class="pocket-token-quantity">
                                    x {{ numberWithCommas(token.quantityFloat + token.quantityFloatReceiving - token.quantityFloatSending) }}
                                    <small ng-if="token.quantityFloatReceiving > 0 || token.quantityFloatSending > 0">(unconfirmed)</small>
                                </div>
                                <div class="pocket-token-emblem-non-divisible" ng-if="!bvamData[token.tokenName] || !bvamData[token.tokenName].smallImage"
                                style="background: #{{ token.bg_color }}; border-color: #{{ token.bg_color }};"
                                >
                                    {{ token.tokenName.substring(0, 4) }}
                                </div>
                                <div class="pocket-token-emblem-non-divisible" ng-if="bvamData[token.tokenName] && bvamData[token.tokenName].smallImage"
                                style="
                                    background:  url('{{ bvamData[token.tokenName].smallImage }}');
                                    background-size: cover;
                                    background-position: top center;
                                    border-color: #{{ token.bg_color }};
                                "
                                ></div>                                
                                <div class="pocket-token-name">
                                    <strong>{{ bvamData[token.tokenName].metadata.name || token.tokenName }}</strong>                                
                                </div>
                            </li>
                        </ul>                  
                        
                        <ul class="pocket-tokens divisibles">
                            <li ng-repeat="token in inventoryBalances[addr.address] | filter: inventory_search" ng-if="token.divisible && token.tokenName != 'XCP'">
                                <a ng-click="openTokenDetails(addr, token, bvamData[token.tokenName])"></a>
                                <div class="pocket-token-quantity">
                                    {{ numberWithCommas(token.quantityFloat + token.quantityFloatReceiving - token.quantityFloatSending) }}
                                    <small ng-if="token.quantityFloatReceiving > 0 || token.quantityFloatSending > 0">(unconfirmed)</small>
                                </div>
                                <div class="pocket-token-emblem-divisible" ng-if="!bvamData[token.tokenName] || !bvamData[token.tokenName].smallImage"
                                style="background: #{{ token.bg_color }}; border-color: #{{ token.bg_color }};"
                                >
                                    {{ token.tokenName.substring(0, 4) }}
                                </div>
                                <div class="pocket-token-emblem-divisible" ng-if="bvamData[token.tokenName] && bvamData[token.tokenName].smallImage"
                                style="
                                    background:  url('{{ bvamData[token.tokenName].smallImage }}');
                                    background-size: cover;
                                    background-position: top center;
                                    border-color: #{{ token.bg_color }};
                                "
                                ></div>
                                <div class="pocket-token-name">
                                    <strong>{{ bvamData[token.tokenName].metadata.name || token.tokenName }}</strong>    
                                    <small ng-if="bvamData[token.tokenName] && bvamData[token.tokenName].metadata.name != token.tokenName">
                                        ({{ token.tokenName }})
                                    </small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
    <div class="wallet-selector" ng-click="showWalletSelector()" ng-if="wallets[0] && wallet">
      <a ng-if="wallet" class="item item-sub item-icon-left item-big-icon-left item-icon-right">
        <i class="icon big-icon-svg">
          <img src="img/icon-wallet.svg" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}" class="bg wallet"/>
        </i>
        <span>
          {{wallet.name || wallet.id}}
        </span>
        <p>
        <span ng-if="!wallet.balanceHidden"> {{wallet.status.totalBalanceStr}} </span>

        <span ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
        <span class="tab-home__wallet__multisig-number" ng-if="wallet.n > 1">
          {{wallet.m}}-of-{{wallet.n}}
        </span>
        <span class="assertive" ng-if="wallet.error">{{wallet.error}}</span>
        &nbsp;
        </p>
        <i ng-if="!singleWallet" class="icon bp-arrow-right"></i>
      </a>
    </div>    
  </ion-side-menu-content>
<wallet-selector
wallet-selector-title="walletSelectorTitle"
wallet-selector-wallets="wallets"
wallet-selector-selected-wallet="wallet"
wallet-selector-show="showWallets"
wallet-selector-on-select="onWalletSelect">
</wallet-selector>  
</ion-view>
