<ion-view ion-side-menus show-tabs>
  <ng-include src="'views/includes/sidebar.html'"></ng-include>   
  <ion-side-menu-content>   
  <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>        
    <ion-nav-title>{{'Terms Of Use' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <div class="item item-text-wrap" id="settings-tos" ng-include="'views/includes/terms.html'"></div>
    </div>
  </ion-content>
  </ion-side-menu-content>
</ion-view>
