.inventory
  $gutter: 20px
  $width: 840px
  display: flex
  width: 100%
  overflow-x: hidden
  &.is-focused
    .assets
      width: 100%
      @media(min-width: 380px)
        width: 50%
    .asset-detail-wrapper
      left: 0%
      @media(min-width: 380px)
        left: 50%

  .active-asset
    color: #fff
    padding-bottom: 20px
    .active-asset--content
      max-width: $width
      margin: 0 auto
      padding: 0 $gutter
    .active--quantity
      font-size: 24px
      margin-bottom: 2px
    .active--currency
      font-size: 16px
      color: #EDF5FF

  .assets
    width: 100%
    margin-top: 20px
    transition: width 0.2s ease
    .assets--loading
      max-width: $width
      margin: 0 auto
      padding: 0 $gutter

    .assets--filters
      max-width: $width
      margin: 0 auto
      padding: 0 $gutter
      display: flex
      .input-group
        &:not(:last-of-type)
          margin-right: 30px
      
      .input--search
        width: 300px

      .input--tags
        width: 100px

      .input--expiration
        width: 100px

    .assets--empty
      text-align: center
      font-size: 18px
      letter-spacing: 1px
      text-transform: lowercase
      color: #656565

    .asset
      background-color: #fff
      border-top: 1px solid #E4E8EC
      &:hover
        background-color: #f7f8fb
        cursor: pointer
      .asset--block
        margin-bottom: 10px
      .asset--content
        padding: 0 $gutter
        max-width: $width
        margin: 0 auto
        overflow: hidden
      &:last-of-type
        border-bottom: 1px solid #E4E8EC 
      .asset--primary
        display: flex
        align-items: center
        margin-top: 10px
        flex-wrap: wrap
      .asset--name
        .asset--short
          font-size: 18px
          font-weight: bold
          line-height: 1.2
          margin-right: 10px
        .asset--sym
          font-size: 14px
          font-weight: bold
          color: #676767
          &:before, &:after
            color: #b1b1b1
          &:before
            content: '('
          &:after
            content: ')'
      .asset--ssl
        vertical-align: super
      .ssl--secure
        color: #1abc9c
      .ssl--unsecure
        color: #ED4A43
      .asset--avatar
        width: 33px
        height: 33px
        margin-right: 10px
        overflow: hidden
      .asset--balance
        margin-left: auto
        text-align: right
        .asset--quantity
          font-size: 18px
          margin-bottom: 2px
          line-height: 1.2
          font-family: monospace
        .asset--quantity-sending
          color: #ee4a43
        .asset--quantity-receiving
          color: #1abc9c
        .asset--currency
          font-size: 14px
          color: #676767
      .more-arrow
        margin-left: 1em
  .asset--info
    font-size: 14px
    line-height: 1.4
    .info--slot
      padding: 8px 0
      &:not(:last-of-type)
        border-bottom: 1px solid #eee
      .info--title
        width: 150px
        color: #9B9B9B
        font-weight: bold
        text-transform: uppercase
        float: left
  .asset-detail-wrapper
    background-color: #fff
    width: 100%
    @media(min-width: 380px)
      width: 50%
    position: absolute
    left: 100%
    transition: all 0.2s ease
    height: 100%
    .asset-detail
      width: 100%
      padding: 30px
      border-left: 1px solid #e2e7ed
      height: 100%
      overflow: hidden
      overflow-y: auto
      background: #fff
    .asset-detail-x
      border-bottom: 2px solid #e2e7ed
      display: block
      text-align: left
      line-height: 1
      padding-bottom: 8px
      width: 100%
      margin-bottom: 20px
      transition: all 0.1s ease
    .token-primary
      display: flex
      align-items: center
      margin-bottom: 18px
    .token-avatar-wrapper
      width: 50px
      margin-right: 15px
    .token-name
      font-weight: 100
      font-size: 24px
      letter-spacing: 1px
    .token-quantity
      font-size: 22px
      letter-spacing: 1px
      font-family: monospace