.sidebar-svg {
  width: 22px;
  margin: 7px 20px 0px 6px;
  float: left;
}

.wallet-svg {
  width: 29px;
  margin: 0 0 0 -2px;
}

.content .avatar-wallet, .sidebar .avatar-wallet, .modal-content .avatar-wallet {
  height: 25px;
  width: 36px;
  font-size: 1rem;
  margin-top: 3px;
  padding-top: 0;
}
